# Virtual environment
venv/
env/
.env
.env.example

# Python caches
__pycache__/
*.pyc
*.pyo

# Database file
*.db
instance/

# IDE / Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log